// _mqueries
// ========

/*==== Media Queries ====*/


@media screen and (max-width: 960px) {
  
  header {
    z-index: 8;
  }

  //Responsive Navigation Menu

  nav {
    // display: flex;
    // flex-flow: column nowrap;
    padding: 10px 0;
    align-items: center;
  }

  /* mobile menu button */
  #roundButton {
    position: fixed;
    top: 24px;
    right: 28px;
    align-self: flex-end;
    z-index: 1000;
    display: inline-block;
  }

  #roundButton:hover {
    cursor: pointer;
  }

  #roundButton:active {
    border-color: $midblue;
    background-color: $blue;
  }

  .nav-menu {
    opacity: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: $lightgrey;
    margin: 0;
    padding: 40px 0 0;
    top: 0;
    left: 0;
    transform: translate3d(100vw, 0, 0);
    transition: transform .3s cubic-bezier(0, .52, 0, 1),
                opacity .4s cubic-bezier(0, .52, 0, 1);
    overflow-y: scroll;
  }

  #nav-menu.show {
    opacity: 1;
    transform: translate3d(0vw, 0, 0);
  }

  .nav-menu li {
    display: block;
    padding: 20px;
  }
  
  .nav-menu li:hover {
    cursor: pointer;
  }

  .sub-menu {
    height: 0;
    opacity: 1;
    position: relative;
    overflow: hidden;
    transition: height 0.3s ease-out, margin 0.3s ease-out;
  }

  .sub-menu li {
    text-align: center;
  }

}







/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

 /* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
}

@media screen and (min-width: 860px) {

}

@media screen and (max-width: 860px) {

}

@media only screen and (max-width : 736px) {

}

@media screen and (max-width: 640px) {

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

@media screen and (max-width: 320px) {

}

