/*==== #MAIN-BANNER ====*/
#main-banner {
    // Photo by Oskar Krawczyk on Unsplash
    background-image: url("../images/banner/jakob-owens-YV7_BcObbIs-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 648px; //80vh;
    background-color: $charcoal;
  }
  
  /*==== #MAIN-SECTION ====*/
  #main-section {
    background-color: $smoke;
  }